graphify-out/

# Flutter/Dart
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
*.iml
.idea/
.vscode/
.DS_Store

# Android
android/.gradle/
android/local.properties
android/app/debug
android/app/profile
android/app/release
*.jks
key.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/ephemeral/
**/xcuserdata/
